body {
  margin: 0;
  background: url('https://w.wallhaven.cc/full/1j/wallhaven-1j1rrv.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
